@import '../../../styles/shared';

.mention {
  opacity: 95%;
  background-color: $fandom-secondary;
  border: 3px solid $fandom-primary;
  text-align: left;
  min-width: 20rem;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 8rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  &--loading,
  &--error,
  &--no-users {
    text-align: center;
    padding: 1rem;
  }
}
