@import '../../../styles/shared';

.new-post {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem;

  &__content {
    text-align: left;
    background-color: $white;
    padding: 1rem;
    color: $fandom-secondary;
    font-weight: 600;
    font-size: 2.5rem;
    width: 40vw;
    border: 3px solid $fandom-primary;
    border-radius: 1rem;
    resize: none;
    outline: none;
  }
}
