.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 25vw 0;
  width: 50vw;

  &__logo-link {
    display: flex;
    margin: 4rem 0 6rem;
  }

  &__logo {
    height: 10rem;
  }

  &__header {
    margin-bottom: 1rem;
  }
}
