@import '../../../../styles/shared';

.mention-element {
  cursor: pointer;
  padding: 0.75rem 1rem;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: $fandom-secondary;
    background-color: $fandom-primary;
  }
}
