@import '../../../styles/shared';

.button {
  color: $fandom-dark;
  width: 15rem;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border: 3px solid $fandom-primary;
  border-radius: 3px;
  background-color: $fandom-primary;
}
