@import '../../../../styles/shared';

.posts-list-entry {
  display: flex;
  position: relative;
  border: 3px solid $fandom-primary;
  border-radius: 1rem;
  width: 40vw;
  padding: 3.5rem 1rem 1rem;
  margin: 1rem;
  text-align: justify;

  &__mention {
    background-color: $light-background;
    font-weight: 500;
    cursor: pointer;
  }

  &__date {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
